@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}


<div class="section bg-white section-padding" id="howItWorkSection">
    <div class="container">
        <div class="text-center">
            <h3 class="text-upper no-m-top">WELCOME TO LADYBUG BUGTRACKER <span class="text-success">YOUR GOOD LUCK ISSUE-FINDING APPLICATION</span></h3>
            <p>This web based app allows your business to find issues in any software application. </p>
        </div>
        <div class="row" style="margin-top:70px;">
            <div class="col-md-4 text-center">
                <div class="how-it-work-list fadeInRight animation-element disabled">
                    <div class="how-it-work-icon">
                        <i class="fa fa-edit fa-3x"></i>
                    </div>
                    <h4 class="m-top-md text-upper">Easy To Get Started</h4>
                    <p style="margin-top:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="how-it-work-list fadeInRight animation-delay2 animation-element disabled">
                    <div class="how-it-work-icon">
                        <i class="fa fa-mobile fa-3x"></i>
                    </div>
                    <h4 class="m-top-md text-upper">Responsive Design</h4>
                    <p style="margin-top:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="how-it-work-list fadeInRight animation-delay4 animation-element disabled">
                    <div class="how-it-work-icon">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <h4 class="m-top-md text-upper">Browser Compatibility</h4>
                    <p style="margin-top:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.</p>
                </div>
            </div>
        </div>
    </div>
</div>